# 연속형 자료형 = 범주형 변환 ----------------------------

- pandas.cut() 함수 제공
    - PARAMETER
        - bins  :  구간 갯수                       --> 정렬 후 지정된 갯수 만큼 구간
        - right :  오른쪽 값 포함여부              --> True
        - labels : 구간에 대한 라벨, 리스트        --> 구간 갯수 맞게 설정
        - include_lowest : 가장 왼쪽값 포함 ㅇ며부 --> False
        - retbins : 구간리스트 반환 여부           --> False
        
    -RESULT
        - 범주형 변환 데이터
        - 구간 리스트        <-- retbins = True로 설정된 경우 반환

In [2]:
import pandas as pd

# DF 데이터 생성
df = pd.DataFrame({'value':[1,2,3,4,5]})
df

   value
0      1
1      2
2      3
3      4
4      5

In [9]:
# 연속형 자료형 ===> 범주형(Category) 변환
# [기본값] right =True, include_lowest=False
caDF, retbins = pd.cut(x=df['value'], bins = 2, retbins=True)
caDF

0    (0.996, 3.0]
1    (0.996, 3.0]
2    (0.996, 3.0]
3      (3.0, 5.0]
4      (3.0, 5.0]
Name: value, dtype: category
Categories (2, interval[float64, right]): [(0.996, 3.0] < (3.0, 5.0]]

In [8]:
retbins

array([0.996, 3.   , 5.   ])

In [10]:
# [수정] right =True, include_lowest=False
caDF, retbins = pd.cut(x=df['value'], bins = 2, retbins=True, include_lowest=True)
caDF

0    (0.995, 3.0]
1    (0.995, 3.0]
2    (0.995, 3.0]
3      (3.0, 5.0]
4      (3.0, 5.0]
Name: value, dtype: category
Categories (2, interval[float64, right]): [(0.995, 3.0] < (3.0, 5.0]]

In [11]:
# [수정] right = False
caDF, retbins = pd.cut(x=df['value'], bins = 2, retbins=True, right=False)
caDF

0      [1.0, 3.0)
1      [1.0, 3.0)
2    [3.0, 5.004)
3    [3.0, 5.004)
4    [3.0, 5.004)
Name: value, dtype: category
Categories (2, interval[float64, left]): [[1.0, 3.0) < [3.0, 5.004)]