# 그룹화(Group) 실습 -------------------------------------

- DF/SR.groupby() 메서드로 생성

- 그룹단위로 평균, 최대, 최소 등과 같은 집계 메서드 적용.

In [1]:
# 모듈 로딩
import pandas as pd
import numpy as np

df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [3]:
print(f'df.columns => {df.columns}\ndf.index=> {df.index}',sep='\n')

df.columns => Index(['class', 'order', 'max_speed'], dtype='object')
df.index=> Index(['falcon', 'parrot', 'lion', 'monkey', 'leopard'], dtype='object')

In [7]:
# 그룹 만들기 --------------------> 객체변수명.groupby(컬러명)g
classGroup = df.groupby(by='class')
classGroup

In [8]:
# GroupBy 객체 -> 반복이 가능한 객체 
for group in classGroup:
    print(group)

('bird',        class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0)
('mammal',           class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0)

In [11]:
# 언패킹하기.
for key, group in classGroup:
    print(f'key => {key}')
    print(f'group => {group}')

key => bird
group =>        class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0
key => mammal
group =>           class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0

In [9]:
# GroupBy 객체 속성 살펴보기
# 그룹 키 : [ 요소 인덱스...]
classGroup.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [10]:
# 특정 그룹키에 해당하는 데이터만 추출 => get_group(키)
classGrop.get_group('bird')

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [12]:
# 그룹 전체에 대한 메서드 적용-------------------------------------------
classGroup.describe()

       max_speed
           count   mean         std   min     25%    50%     75%    max
class
bird         2.0  206.5  258.093975  24.0  115.25  206.5  297.75  389.0
mammal       2.0   69.1   15.697771  58.0   63.55   69.1   74.65   80.2

In [13]:
classGroup.describe(include='all')

       order                                                           ...  \
       count unique            top freq mean  std  min  25%  50%  75%  ...
class                                                                  ...
bird       2      2  Falconiformes    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
mammal     3      2      Carnivora    2  NaN  NaN  NaN  NaN  NaN  NaN  ...

       max_speed                                                           \
          unique top freq   mean         std   min     25%    50%     75%
class
bird         NaN NaN  NaN  206.5  258.093975  24.0  115.25  206.5  297.75
mammal       NaN NaN  NaN   69.1   15.697771  58.0   63.55   69.1   74.65


          max
class
bird    389.0
mammal   80.2

[2 rows x 22 columns]

In [15]:
classGroup.mean(),classGroup.std()

(        max_speed
 class
 bird        206.5
 mammal       69.1,
          max_speed
 class
 bird    258.093975
 mammal   15.697771)

In [18]:
# 특정 그룹에 대한 것만 처리 => get_group(키)
birdgroup = classGroup.get_group('bird')

In [22]:
birdgroup.max()

class                  bird
order        Psittaciformes
max_speed             389.0
dtype: object

In [24]:
# 집계함수를 한꺼번에 적용 => agg([함수명, 함수명...]), axis = 0
birdgroup.agg(['min','max','sum'])

        class                        order  max_speed
min      bird                Falconiformes       24.0
max      bird               Psittaciformes      389.0
sum  birdbird  FalconiformesPsittaciformes      413.0

In [25]:
# 집계함수를 한꺼번에 적용 => agg({컬럼명 :함수명, 컬럼명 :함수명}), axis = 0
birdgroup.agg({'order':'max','max_speed':['min','sum']})

              order  max_speed
max  Psittaciformes        NaN
min             NaN       24.0
sum             NaN      413.0

In [30]:
# 사용자 정의 함수 ---------------------------------------------
def getMaxMin(x):
    return x.max()-x.min()

birdgroup.agg({'order':'max','max_speed' : [getMaxMin]})

                    order  max_speed
max        Psittaciformes        NaN
getMaxMin             NaN      365.0

In [36]:
# 그룹에서 필터링하기 ------------> fillter( True/False)
birdgroup.filter(items=['order'])

                 order
falcon   Falconiformes
parrot  Psittaciformes

In [51]:
birdgroup.filter(items=['max_speed'])

        max_speed
falcon      389.0
parrot       24.0

In [37]:
birdgroup['max_speed']>=300

falcon     True
parrot    False
Name: max_speed, dtype: bool

# [ 0710과제 ]

In [57]:
# max_speed컬럼 갑싱 300이상인 데이터만 출력하기

birdgroup.filter[item=['max_speed']>=300]

SyntaxError: invalid syntax (177499113.py, line 3)

In [41]:
birdgroup[birdgroup['max_speed']>=300]

       class          order  max_speed
falcon  bird  Falconiformes      389.0