# 다양한 종류의 파일을 DataFrame으로 읽기------------------------------------
   - 메서드: pandas.read_XXX('파일경로',옵션 파라미터...)

In [28]:
# 모듈 로딩----------------------------------------------------------
import pandas as pd

# 파일 관련 변수들 선언------------------------------------------------------------------------------
DIR_PATH = '../Data/'
FILE_NAME = DIR_PATH+'iris.csv'

In [29]:
# 모듈 로딩----------------------------------------------------------
import pandas as pd

# 파일 관련 변수들 선언------------------------------------------------------------------------------
DIR_PATH = '../Data/'
FILE_NAME = DIR_PATH+'iris.csv'

# CSV 파일 읽기 ==> DataFrame으로 저장 --------------------------------------------------------------
irisDF=pd.read_csv(FILE_NAME)

# 데이터 요약 정보 확인하기
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# null ,None, NaN
 - null : X (변수 초기화할 때 사용) non-null : 빈칸 없음
 - None : X
 - NaN : X ( Data 관련)

In [30]:
irisDF.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [31]:
irisDF.index

RangeIndex(start=0, stop=150, step=1)

In [32]:
irisDF.shape

(150, 5)

#  [ 실습 ]
- 앞 부분 데이터 10개 보여주세요.
- 끝 부분 데이터 3개 보여주세요.
- iris -setosa 데이터만 가져오기.

In [33]:
# 앞 부분 데이터 10개 보여주세요.
irisDF.head(10)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [34]:
# 앞 부분 데이터 10개 보여주세요.
irisDF.iloc[:10]

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [35]:
# 끝 부분 데이터 3개 보여주세요.
irisDF.tail(3)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [36]:
# 끝 부분 데이터 3개 보여주세요.
irisDF.iloc[-3:]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [49]:
# 컬럼의 기술통계 정보 보기
irisDF.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [44]:
# iris -setosa 데이터만 가져오기
result=irisDF[irisDF['Name']=='Iris-setosa']
result

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          1.4         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa
24          4.8         3.4          1.9         0.2  Iris-setosa
25          5.0         3.0          1.6         0.2  Iris-setosa
26          5.0         3.4          1.6         0.4  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
29          4.7         3.2          1.6         0.2  Iris-setosa
30          4.8         3.1          1.6         0.2  Iris-setosa
31          5.4         3.4          1.5         0.4  Iris-setosa
32          5.2         4.1          1.5         0.1  Iris-setosa
33          5.5         4.2          1.4         0.2  Iris-setosa
34          4.9         3.1          1.5         0.1  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
37          4.9         3.1          1.5         0.1  Iris-setosa
38          4.4         3.0          1.3         0.2  Iris-setosa
39          5.1         3.4          1.5         0.2  Iris-setosa
40          5.0         3.5          1.3         0.3  Iris-setosa
41          4.5         2.3          1.3         0.3  Iris-setosa
42          4.4         3.2          1.3         0.2  Iris-setosa
43          5.0         3.5          1.6         0.6  Iris-setosa
44          5.1         3.8          1.9         0.4  Iris-setosa
45          4.8         3.0          1.4         0.3  Iris-setosa
46          5.1         3.8          1.6         0.2  Iris-setosa
47          4.6         3.2          1.4         0.2  Iris-setosa
48          5.3         3.7          1.5         0.2  Iris-setosa
49          5.0         3.3          1.4         0.2  Iris-setosa

In [55]:
result=irisDF['Length' in irisDF.columns]
result

KeyError: False

# 2. ‘iris.csv’에서 아래 결과를 도출하세요.

- [데이터 추출]

    - 1. Length 데이터만 추출해서 출력해주세요.
	
    - 2. SepalLength 컬럼에서 길이가 5.0보다 큰 걸럼의 SepalLength와 Names만 출력해주세요.

    - 3. Iris-setosa, Iris-versicolor, Iris-virginica에서 각각 최대, 최소 컬럼을 출력해 주세요.

In [63]:
# Length 데이터만 추출해서 출력해주세요. 
list=[]
for i in irisDF.columns:
    if'Length' in i: 
        list.append(i)
print(list)    
irisDF[list]

['SepalLength', 'PetalLength']

     SepalLength  PetalLength
0            5.1          1.4
1            4.9          1.4
2            4.7          1.3
3            4.6          1.5
4            5.0          1.4
..           ...          ...
145          6.7          5.2
146          6.3          5.0
147          6.5          5.2
148          6.2          5.4
149          5.9          5.1

[150 rows x 2 columns]

In [106]:
# 2.SepalLength 컬럼에서 길이가 5.0보다 큰 걸럼의 SepalLength와 Names만 출력해주세요.
irisDF[irisDF['SepalLength'] > 5.0][['SepalLength','Name']]

     SepalLength            Name
0            5.1     Iris-setosa
5            5.4     Iris-setosa
10           5.4     Iris-setosa
14           5.8     Iris-setosa
15           5.7     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[118 rows x 2 columns]

In [67]:
result1=irisDF['SepalLength']>5.0
result1

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: SepalLength, Length: 150, dtype: bool

In [84]:
result2=irisDF[result1]
print(irisDF[result1])

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
5            5.4         3.9          1.7         0.4     Iris-setosa
10           5.4         3.7          1.5         0.2     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
15           5.7         4.4          1.5         0.4     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[118 rows x 5 columns]

In [88]:
result2[['SepalLength','Name']]

     SepalLength            Name
0            5.1     Iris-setosa
5            5.4     Iris-setosa
10           5.4     Iris-setosa
14           5.8     Iris-setosa
15           5.7     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[118 rows x 2 columns]

In [104]:
# 3. Iris-setosa, Iris-versicolor, Iris-virginica에서 각각 최대, 최소 컬럼을 출력해 주세요.
result_setosa=irisDF[irisDF['Name']=='Iris-setosa']
result_versicolor=irisDF[irisDF['Name']=='Iris-versicolor']
result_virginica=irisDF[irisDF['Name']=='Iris-virginica']

print(f'Iris-setosa 최대:\n{result_setosa.max()}')
print(f'Iris-setosa 최소:\n{result_setosa.min()}')
print(f'Iris-versicolor 최대:\n{result_versicolor.max()}')
print(f'Iris-versicolor 최소:\n{result_versicolor.min()}')
print(f'Iris-virginica 최대:\n{result_virginica.max()}')
print(f'Iris-virginica 최소:\n{result_virginica.min()}')

Iris-setosa 최대:
SepalLength            5.8
SepalWidth             4.4
PetalLength            1.9
PetalWidth             0.6
Name           Iris-setosa
dtype: object
Iris-setosa 최소:
SepalLength            4.3
SepalWidth             2.3
PetalLength            1.0
PetalWidth             0.1
Name           Iris-setosa
dtype: object
Iris-versicolor 최대:
SepalLength                7.0
SepalWidth                 3.4
PetalLength                5.1
PetalWidth                 1.8
Name           Iris-versicolor
dtype: object
Iris-versicolor 최소:
SepalLength                4.9
SepalWidth                 2.0
PetalLength                3.0
PetalWidth                 1.0
Name           Iris-versicolor
dtype: object
Iris-virginica 최대:
SepalLength               7.9
SepalWidth                3.8
PetalLength               6.9
PetalWidth                2.5
Name           Iris-virginica
dtype: object
Iris-virginica 최소:
SepalLength               4.9
SepalWidth                2.2
PetalLength               4.5
PetalWidth                1.4
Name           Iris-virginica
dtype: object