# 시리즈(series) 타입 실습-------------------------------------------------------------------------

- pandas의 1종류(1차원 배열/세로 벡터) 데이터를 저장하는 데이터 타입(Type)  

- 생성 : Series 객체 생성

In [3]:
# 모듈 로딩 ------------------------------------------------------------------------------------------------
import pandas as pd

# Series 객체 생성
sr = pd.Series([1,2,3,4])

In [9]:
# 생성된 Series 객체 데이터 확인하기
sr

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
# Series 객체의 속성 Attribute 확인 => 객체변수명.속성명
# index 속성
sr.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
# 값 속성
sr.values

array([1, 2, 3, 4], dtype=int64)

In [13]:
# 차원(dimention) 속성
sr.ndim

1

In [16]:
# 형(shape) 속성
sr.shape

(4,)

In [17]:
# 실제 사용 메모리.byte, 데이터 개수
sr.nbytes, sr.size

(32, 4)

In [20]:
# 여러 타입의 데이터로 Series 객체 생성
sr2=pd.Series([1,4,'A',4.5])
sr2

0      1
1      4
2      A
3    4.5
dtype: object

In [23]:
# Series 객체 속성 읽기
print(f'indesx => {sr2.index}')
print(f'values => {sr2.values} | valuse type => {type(sr2.values)}')
print(f'array => {sr2.array}')

indesx => RangeIndex(start=0, stop=4, step=1)
values => [1 4 'A' 4.5] | valuse type => <class 'numpy.ndarray'>
array => <PandasArray>
[1, 4, 'A', 4.5]
Length: 4, dtype: object

In [28]:
# Dict 데이터로 Series 객체 생성
sr3 = pd.Series({"name":"HONG", "age":12, "loc":"Daegu"})
sr3

name     HONG
age        12
loc     Daegu
dtype: object

In [30]:
# series 객체 생성
sr = pd.Series(['a','b','c'], index=['하나','둘','셋'])
sr

하나    a
둘     b
셋     c
dtype: object

In [31]:
sr2 = pd.Series(['a','b','c'])
sr2

0    a
1    b
2    c
dtype: object

In [32]:
# 인덱스 새로운 값으로 설정 -> 객체변수명.속성명 = 새로운 값
sr2.index=[11,22,33]
sr2

11    a
22    b
33    c
dtype: object

# 시리즈(Series) 객체의 원소/요소 다루기

- 방법:  시리즈 객체.[인덱스 번호]
         시리즈 객체.[인덱스 라벨]

In [34]:
# 1번 원소 읽기
sr2.index

Int64Index([11, 22, 33], dtype='int64')

In [39]:
sr2[22]   # 숫자형으로 인덱스를 지정 시: 기존 숫자는 삭제됨.

'b'

In [41]:
# 문자형 인덱스로 새롭게 설정
sr2.index=['one','two','three']
sr2.index

Index(['one', 'two', 'three'], dtype='object')

In [44]:
sr2['two'],sr2[1],sr2['three'],sr2[2]  # 문자형 인덱스를 지정 시: 문자, 숫자 인덱스 모두 적용됨.

('b', 'b', 'c', 'c')

In [51]:
sr3 = pd.Series({'name':'Hong', 'age':12})
sr3

name    Hong
age       12
dtype: object

In [52]:
sr3.index

Index(['name', 'age'], dtype='object')

In [54]:
sr3[0],sr3[1],sr3['age'],sr3['name']

('Hong', 12, 12, 'Hong')

In [68]:
sr4 = pd.Series(('2022-06-30','Pandas',True, 4.55,'No Work'))

날짜    2022-06-30
과목        Pandas
불린          True
실수          4.55
희망       No Work
dtype: object

In [69]:
sr4.index = ['날짜','과목','불린','실수','희망']
sr4

날짜    2022-06-30
과목        Pandas
불린          True
실수          4.55
희망       No Work
dtype: object

In [77]:
# (1) 0번 요소, 3번 요소, 4번 요소 읽어서 출력

print(sr4[0],sr4[3],sr4[4])
print(sr4['날짜'],sr4["실수"],sr4['희망'])

print(type(sr4[0]),type(sr4[3]),type(sr4[4])) # 하나의 요소를 가져오면 하나는 자기만의 타입을 가진다.
print(sr4[[0,3,4]],type(sr4[[0,3,4]]))        # 리스트 안에 여러가지 타입이 있으면 Object 타입이 됨.

# (2) 1번 요소부터 끝까지 요소값 출력

print(sr4[1:])
print(sr4['과목':])

# (3) 1번 요소부터 3번 요소까지 요소값 출력
print(sr4[1:4])                              # 숫자 인덱스는 이상~미만 범위의 요소를 불러옴.(마지막 원소 제외)
print(sr4['과목':'희망'])                    #  str 인덱스는 이상~이하 범위의 요소를 불러옴.(마지막 원소 포함)

2022-06-30 4.55 No Work
2022-06-30 4.55 No Work
<class 'str'> <class 'float'> <class 'str'>
날짜    2022-06-30
실수          4.55
희망       No Work
dtype: object <class 'pandas.core.series.Series'>
과목     Pandas
불린       True
실수       4.55
희망    No Work
dtype: object
과목     Pandas
불린       True
실수       4.55
희망    No Work
dtype: object
과목    Pandas
불린      True
실수      4.55
dtype: object
과목     Pandas
불린       True
실수       4.55
희망    No Work
dtype: object