# DataFrame 실습 ----------------------------------------------------------------------

- 시리즈(Series) 객체가 2개 이상 합쳐진 pandas의 데이터 타입
- 구성 : 로우(행) 인덱스 _ 컬럼(열) 라벨

In [1]:
# 모듈 로딩---------------------------------------------------------------------------------
# 행 ; row, Entry, Instance           # 열(칼럼) : column, Feature
import pandas as pd

datas=[1,2,3,[11,22]]
datas[3][1]

22

In [4]:
datas=[[1,2,3],['a','b','c']]

df=pd.DataFrame(datas)
df

   0  1  2
0  1  2  3
1  a  b  c

In [10]:
# DataFrame의 속성 읽
print(df.index, df.columns, df.values, df.size, df.ndim, df.shape, sep='\n')

RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=3, step=1)
[[1 2 3]
 ['a' 'b' 'c']]
6
2
(2, 3)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
 2   2       2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [14]:
#  Dict 데이터로 DataFrame 객체 생성하기  # Key -> Column 
pf2 = pd.DataFrame({'name':['Hong','Lee'], 'age':[12,5], 'loc':['Daegu','Busan'],'Gen':['F','M']})
pf2

   name  age    loc Gen
0  Hong   12  Daegu   F
1   Lee    5  Busan   M

In [15]:
pf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      int64
 2   loc     2 non-null      object
 3   Gen     2 non-null      object
dtypes: int64(1), object(3)
memory usage: 192.0+ bytes

In [25]:
# DataFrame 객체에서 'Busan' 데이터 추출
pf2.loc[1,'loc']

'Busan'