# [실습]-----------------------------------------------------------------------------------------------------

- CSV 파일 읽고 칼럼별 최고값과 값의 개수 출력

In [2]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수들
DIR_PATH='../DATA/'
FILE_NAME = DIR_PATH+'iris2.csv'

FILE_NAME

'../DATA/iris2.csv'

In [12]:
# (1) CSV => DataFrame으로 가져오기
irisDF = pd.read_csv(FILE_NAME,header=None)
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [11]:
irisDF

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [5]:
irisDF.max()

5.1                       7.9
3.5                       4.4
1.4                       6.9
0.2                       2.5
Iris-setosa    Iris-virginica
dtype: object

In [6]:
# 컬럼 값이 NaN, Na인 것도 카운팅하고 싶은 경우 ====> dropna 파라미터 값 False.
irisDF.value_counts(dropna=False)

5.1  3.5  1.4  0.2  Iris-setosa
4.9  3.1  1.5  0.1  Iris-setosa        3
5.8  2.7  5.1  1.9  Iris-virginica     2
4.3  3.0  1.1  0.1  Iris-setosa        1
6.3  3.3  6.0  2.5  Iris-virginica     1
     2.5  4.9  1.5  Iris-versicolor    1
                                      ..
5.5  2.5  4.0  1.3  Iris-versicolor    1
     2.6  4.4  1.2  Iris-versicolor    1
     3.5  1.3  0.2  Iris-setosa        1
     4.2  1.4  0.2  Iris-setosa        1
NaN  3.9  1.3  0.4  Iris-setosa        1
Length: 146, dtype: int64

In [7]:
irisDF.count()

5.1            146
3.5            149
1.4            149
0.2            149
Iris-setosa    149
dtype: int64