# 중복 데이터(레코드, 엔트리, 관측값, 행) 처리

- 중복 여부 체크 : duplicated() ---> 행 단위
    - 속성
        - keep
        - subset = []


- 중복 제거 : drop_duplicates()

In [13]:
import pandas as pd

df=pd.DataFrame([[1,2,3],[1,2,1],[1,2,3]], columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [14]:
# 중복 데이터(행 row) ---> duplicated()
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [15]:
df.duplicated(keep='last') # keep속성 : 남길 값 선정.

0     True
1    False
2    False
dtype: bool

In [16]:
df.duplicated(keep=False) # keep속성 : 기본값은 first. False는 중복 모두 걸림.

0     True
1    False
2     True
dtype: bool

In [17]:
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [19]:
# 특정 컬럼의 동일 여부 설정 => subset=[컬럼명]
df.duplicated(subset=['b','c'])

0    False
1    False
2     True
dtype: bool

# (2) 중복 제거 => drop_duplicates(subset,keep)

In [22]:
print(df)
df.drop_duplicates()

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

   a  b  c
0  1  2  3
1  1  2  1

In [23]:
df.drop_duplicates(subset=['b'])

   a  b  c
0  1  2  3